body {
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.card {
  background: #222;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  border-radius: 8px;
  width: 180px;
}

.card img {
  width: 100%;
  border-radius: 5px;
}

a {
  color: #00aaff;
  text-decoration: none;
}
