body {
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1, h2 {
  color: #00aaff;
}

#lista-juegos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #222;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  width: 180px;
}

.card img {
  width: 100%;
  border-radius: 5px;
}

a {
  color: #00aaff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img#imagen {
  width: 300px;
  border-radius: 10px;
  margin: 10px 0;
}

.descargas {
  margin-top: 20px;
  display: flex;
  gap: 20px; /* separación entre Mega y MediaFire */
  justify-content: center;
}

.link-descarga {
  background: #007bff; /* azul */
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s;
}

.link-descarga:hover {
  background: #0056b3;
  transform: scale(1.05);
}
